@page "/"

<div class="btn-row">
    <button class="btn" @onclick="ShowAddPlayerModal" @ref="addPlayerButton" disabled="@(players.Count>=4)">@T["AddPlayer"]</button>
    <button class="btn" @onclick="ClearPoints" disabled="@(players.Count==0)">@T["ClearPoints"]</button>
    <button class="btn" @onclick="ClearPlayers" disabled="@(players.Count == 0)">@T["ClearPlayers"]</button>
</div>

@if (players is not null && players.Count > 0)
{
    <div class="container" style="max-width: @(200 * players.Count + 200)px">
        <div class="block empty"></div>
        @foreach (var item in players[0].YatzyPoints.DieNumbers)
        {
            <div class="block thick-border">@item.Name</div>
        }
        <div class="block thick-border">@T["Sum"]</div>
        <div class="block thick-border">@T["Bonus"]</div>
        @foreach (var item in players[0].YatzyPoints.Combinations)
        {
            <div class="block thick-border">@T[item.Name]</div>
        }
        <div class="block thick-border font-bold">@T["Total"]</div>
        @foreach (var p in players)
        {
            <div class="block thick-border font-bold font-large sticky">@p.Name</div>
            @foreach (var item in p.YatzyPoints.DieNumbers)
            {
                <input class="block border" @bind="item.Points" @onfocusout=@(()=>SaveState(p)) />
            }
            <div class="block thick-border font-bold">@p.YatzyPoints.DieNumberSum</div>
            <div class="block thick-border font-bold">@p.YatzyPoints.Bonus</div>
            @foreach (var item in p.YatzyPoints.Combinations)
            {
                <input class="block border" @bind="item.Points" @onfocusout=@(()=>SaveState(p)) />
            }
            <div class="block thick-border font-bold">@p.YatzyPoints.TotalSum</div>
        }
    </div>
}

<Modal Header="@T["AddPlayer"]" ShowDialog="addPlayerModalVisible">
    <EditForm OnValidSubmit="InsertPlayer" Model="newPlayer">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="player-name"><b>@T["PlayerName"]</b></label>
            <InputText id="player-name" @ref="nameInput" class="name-input" @bind-Value="newPlayer.Name" placeholder="@T["PlayerName"]" />
            <ValidationMessage For="(()=>newPlayer.Name)" />
        </div>
        <button type="submit" class="btn btn-primary">@T["Submit"]</button>
        <button class="btn btn-outline-secondary" @onclick="()=>addPlayerModalVisible=false">@T["Close"]</button>
    </EditForm>
</Modal>

<Modal Header="@T["Error"]" ShowDialog="addErrorModalVisible">
    <p>@T["Error"]: @T["PointNamed"] @erroredPointName @T["CantHaveValue"] @erroredPointValue.</p>
</Modal>



